{% extends "base.html" %}
{% block title %}Compare{% endblock %}

{% block content %}
<div class="page-header d-print-none mt-3">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">Compare</h2>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <h3 class="card-title">Line Items</h3>
  </div>
  <div class="list-group list-group-flush">
    {% for name in items %}
    <a href="{{ url_for('.compare_item', name=name) }}" class="list-group-item list-group-item-action">{{ name }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
