{% extends "base.html" %}
{% block title %}Compare — Line Items{% endblock %}

{% block content %}
<div class="page-header d-print-none mt-3">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">Compare — Line Items</h2>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="list-group list-group-flush">
    {% for name in items %}
    <a href="{{ url_for('.line_item', name=name) }}" class="list-group-item list-group-item-action">{{ name }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
